body {
  position: relative;
}
nav {
  letter-spacing: 2px;
}
div.collapse {
  margin-right: 2rem;
}
.container-fluid > div.container-fluid {
  height: 100vh;
  text-align: center;
}
.container-fluid {
  padding-left: 0;
  padding-right: 0;
}
div.container-fluid h1, #avatar {
  padding-top: 70px;
}
.active {
  background-color: #0ccc32 !important;
}
a.nav-link:not(.active):hover {
  color: #0ccc32 !important;
}
#avatar, #projects {
  display: flex;
  flex-direction: column;
  background-color: #18bc9c;
}
#education, #experience {
  margin: 6rem auto;
}
#about, #projects {
  height: fit-content;
}
#contact h1, #about h1, #projects h1 {
  font-size: 3rem;
}
#about, #contact {
  color: #2c3e50;
}
#contact > div.container {
  width: 30vw;
  margin-top: 7rem;
}
hr.star-light:after {
    color: #fff;
    background-color: #18bc9c;
}
hr.star-light {
  border-color: #fff;
}
hr.star-dark:after {
    color: #2c3e50;
    background-color: #f8f9fa;
}
hr.star-dark, hr.star-light {
    max-width: 15rem;
    padding: 0;
    text-align: center;
    border: none;
    border-top: solid .25rem;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    margin-left: auto;
    margin-right: auto;
}
hr.star-dark:after, hr.star-light:after {
  position: relative;
  top: -.8em;
  display: inline-block;
  padding: 0 .25em;
  content: '\f005';
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 2em;
}
@media (min-width: 768px) {
  #projects .row img {
    opacity: 0.6;
    transition: opacity 1.5s ease, border 1.5s ease, padding 1.5s ease;
  }
  #projects .row img:hover {
    border: 2px solid #42f4f4;
    border-radius: 4px;
    padding: 5px;
    opacity: 1;
  }
}
@media only screen and (max-width: 768px) {
  div.collapse {
    margin: 0;
  }
  ul.navbar-nav {
    margin-right: -2rem;
  }
  .navbar-nav li {
    margin: 0.4rem 2rem;
    width: 30%;
    text-align: center;
  }
  #contact > div.container {
    width: 70vw;
    margin-top: 4rem;
  }
}
@media only screen and (max-width: 568px) {
  #projects img, #avatar img {
    max-width: 60%;
  }
  #avatar h1 {
    font-size: 3rem;
  }
}
